In [1]:
import pandas as pd

df = pd.read_csv('synthetic_ecommerce_data.csv')

df.head()

,Transaction_ID,Customer_ID,Product_ID,Transaction_Date,Units_Sold,Discount_Applied,Revenue,Clicks,Impressions,Conversion_Rate,Category,Region,Ad_CTR,Ad_CPC,Ad_Spend
0,8b460852-7c64-46fa-998b-b0976879d082,Customer_65,Product_224,2024-10-06,134,0.14,305.54,11,65,0.17,Electronics,Europe,0.0180,0.55,9.90
1,418612e7-8744-4ba3-bb0c-105b47e2a968,Customer_1910,Product_584,2024-10-29,109,0.30,1102.19,15,201,0.07,Home Appliances,Asia,0.1589,0.40,63.56
2,5bc3b98f-cb0c-4b12-947c-df8bbb35a73e,Customer_2306,Product_374,2024-04-04,116,0.04,471.29,16,199,0.08,Toys,Asia,0.0596,1.50,89.40
3,28fb67c8-e8c0-447a-841c-f760730de0eb,Customer_17206,Product_220,2024-08-25,125,0.20,980.26,12,355,0.03,Clothing,Europe,0.0444,0.44,19.54
4,8bee087a-a8a9-45bb-89d7-04d1710f1b00,Customer_16033,Product_358,2024-05-05,132,0.07,803.76,44,355,0.12,Books,North America,0.1270,0.53,67.31

In [35]:
prod_revenue = df.groupby('Product_ID')['Revenue'].sum().reset_index()
prod_revenue = prod_revenue.rename(columns={'Revenue': 'Total Product Revenue'})
prod_revenue.head(10)

     Product_ID  Total Product Revenue
0     Product_1                7923.76
1    Product_10               57270.66
2   Product_100               89691.68
3  Product_1000               81266.38
4   Product_101               17539.97
5   Product_102               40827.60
6   Product_103               66790.00
7   Product_104               51860.21
8   Product_105               38519.72
9   Product_106               32623.82

In [20]:
df['No Discount Revenue'] = (df['Revenue'] / (1 - df['Discount_Applied'])).round(2)
df.head()

,Transaction_ID,Customer_ID,Product_ID,Transaction_Date,Units_Sold,Discount_Applied,Revenue,Clicks,Impressions,Conversion_Rate,Category,Region,Ad_CTR,Ad_CPC,Ad_Spend,No Discount Revenue
0,8b460852-7c64-46fa-998b-b0976879d082,Customer_65,Product_224,2024-10-06,134,0.14,305.54,11,65,0.17,Electronics,Europe,0.0180,0.55,9.90,355.28
1,418612e7-8744-4ba3-bb0c-105b47e2a968,Customer_1910,Product_584,2024-10-29,109,0.30,1102.19,15,201,0.07,Home Appliances,Asia,0.1589,0.40,63.56,1574.56
2,5bc3b98f-cb0c-4b12-947c-df8bbb35a73e,Customer_2306,Product_374,2024-04-04,116,0.04,471.29,16,199,0.08,Toys,Asia,0.0596,1.50,89.40,490.93
3,28fb67c8-e8c0-447a-841c-f760730de0eb,Customer_17206,Product_220,2024-08-25,125,0.20,980.26,12,355,0.03,Clothing,Europe,0.0444,0.44,19.54,1225.32
4,8bee087a-a8a9-45bb-89d7-04d1710f1b00,Customer_16033,Product_358,2024-05-05,132,0.07,803.76,44,355,0.12,Books,North America,0.1270,0.53,67.31,864.26

In [21]:
df['Lost Revenue'] = (df['No Discount Revenue'] - df['Revenue']).round(2)
df.head()

,Transaction_ID,Customer_ID,Product_ID,Transaction_Date,Units_Sold,Discount_Applied,Revenue,Clicks,Impressions,Conversion_Rate,Category,Region,Ad_CTR,Ad_CPC,Ad_Spend,No Discount Revenue,Lost Revenue
0,8b460852-7c64-46fa-998b-b0976879d082,Customer_65,Product_224,2024-10-06,134,0.14,305.54,11,65,0.17,Electronics,Europe,0.0180,0.55,9.90,355.28,49.74
1,418612e7-8744-4ba3-bb0c-105b47e2a968,Customer_1910,Product_584,2024-10-29,109,0.30,1102.19,15,201,0.07,Home Appliances,Asia,0.1589,0.40,63.56,1574.56,472.37
2,5bc3b98f-cb0c-4b12-947c-df8bbb35a73e,Customer_2306,Product_374,2024-04-04,116,0.04,471.29,16,199,0.08,Toys,Asia,0.0596,1.50,89.40,490.93,19.64
3,28fb67c8-e8c0-447a-841c-f760730de0eb,Customer_17206,Product_220,2024-08-25,125,0.20,980.26,12,355,0.03,Clothing,Europe,0.0444,0.44,19.54,1225.32,245.06
4,8bee087a-a8a9-45bb-89d7-04d1710f1b00,Customer_16033,Product_358,2024-05-05,132,0.07,803.76,44,355,0.12,Books,North America,0.1270,0.53,67.31,864.26,60.50

In [23]:
df['Per Unit Price'] = (df['No Discount Revenue'] / df['Units_Sold']).round(2)
df.head()

,Transaction_ID,Customer_ID,Product_ID,Transaction_Date,Units_Sold,Discount_Applied,Revenue,Clicks,Impressions,Conversion_Rate,Category,Region,Ad_CTR,Ad_CPC,Ad_Spend,No Discount Revenue,Lost Revenue,Per Unit Price
0,8b460852-7c64-46fa-998b-b0976879d082,Customer_65,Product_224,2024-10-06,134,0.14,305.54,11,65,0.17,Electronics,Europe,0.0180,0.55,9.90,355.28,49.74,2.65
1,418612e7-8744-4ba3-bb0c-105b47e2a968,Customer_1910,Product_584,2024-10-29,109,0.30,1102.19,15,201,0.07,Home Appliances,Asia,0.1589,0.40,63.56,1574.56,472.37,14.45
2,5bc3b98f-cb0c-4b12-947c-df8bbb35a73e,Customer_2306,Product_374,2024-04-04,116,0.04,471.29,16,199,0.08,Toys,Asia,0.0596,1.50,89.40,490.93,19.64,4.23
3,28fb67c8-e8c0-447a-841c-f760730de0eb,Customer_17206,Product_220,2024-08-25,125,0.20,980.26,12,355,0.03,Clothing,Europe,0.0444,0.44,19.54,1225.32,245.06,9.80
4,8bee087a-a8a9-45bb-89d7-04d1710f1b00,Customer_16033,Product_358,2024-05-05,132,0.07,803.76,44,355,0.12,Books,North America,0.1270,0.53,67.31,864.26,60.50,6.55

In [32]:
df['CAC'] = df['Ad_Spend']
df = df.drop(columns=['Ad_Spend'])
df['CAC Percent'] = ((df['CAC'] / df['Revenue']) * 100).round(2)
df.head()

,Transaction_ID,Customer_ID,Product_ID,Transaction_Date,Units_Sold,Discount_Applied,Revenue,Clicks,Impressions,Conversion_Rate,Category,Region,Ad_CTR,Ad_CPC,No Discount Revenue,Lost Revenue,Per Unit Price,CAC,CAC Percent
0,8b460852-7c64-46fa-998b-b0976879d082,Customer_65,Product_224,2024-10-06,134,0.14,305.54,11,65,0.17,Electronics,Europe,0.0180,0.55,355.28,49.74,2.65,9.90,3.24
1,418612e7-8744-4ba3-bb0c-105b47e2a968,Customer_1910,Product_584,2024-10-29,109,0.30,1102.19,15,201,0.07,Home Appliances,Asia,0.1589,0.40,1574.56,472.37,14.45,63.56,5.77
2,5bc3b98f-cb0c-4b12-947c-df8bbb35a73e,Customer_2306,Product_374,2024-04-04,116,0.04,471.29,16,199,0.08,Toys,Asia,0.0596,1.50,490.93,19.64,4.23,89.40,18.97
3,28fb67c8-e8c0-447a-841c-f760730de0eb,Customer_17206,Product_220,2024-08-25,125,0.20,980.26,12,355,0.03,Clothing,Europe,0.0444,0.44,1225.32,245.06,9.80,19.54,1.99
4,8bee087a-a8a9-45bb-89d7-04d1710f1b00,Customer_16033,Product_358,2024-05-05,132,0.07,803.76,44,355,0.12,Books,North America,0.1270,0.53,864.26,60.50,6.55,67.31,8.37

In [33]:
df['Post CAC Revenue'] = (df['Revenue'] - df['CAC']).round(2)
df.head()

,Transaction_ID,Customer_ID,Product_ID,Transaction_Date,Units_Sold,Discount_Applied,Revenue,Clicks,Impressions,Conversion_Rate,Category,Region,Ad_CTR,Ad_CPC,No Discount Revenue,Lost Revenue,Per Unit Price,CAC,CAC Percent,Post CAC Revenue
0,8b460852-7c64-46fa-998b-b0976879d082,Customer_65,Product_224,2024-10-06,134,0.14,305.54,11,65,0.17,Electronics,Europe,0.0180,0.55,355.28,49.74,2.65,9.90,3.24,295.64
1,418612e7-8744-4ba3-bb0c-105b47e2a968,Customer_1910,Product_584,2024-10-29,109,0.30,1102.19,15,201,0.07,Home Appliances,Asia,0.1589,0.40,1574.56,472.37,14.45,63.56,5.77,1038.63
2,5bc3b98f-cb0c-4b12-947c-df8bbb35a73e,Customer_2306,Product_374,2024-04-04,116,0.04,471.29,16,199,0.08,Toys,Asia,0.0596,1.50,490.93,19.64,4.23,89.40,18.97,381.89
3,28fb67c8-e8c0-447a-841c-f760730de0eb,Customer_17206,Product_220,2024-08-25,125,0.20,980.26,12,355,0.03,Clothing,Europe,0.0444,0.44,1225.32,245.06,9.80,19.54,1.99,960.72
4,8bee087a-a8a9-45bb-89d7-04d1710f1b00,Customer_16033,Product_358,2024-05-05,132,0.07,803.76,44,355,0.12,Books,North America,0.1270,0.53,864.26,60.50,6.55,67.31,8.37,736.45

In [34]:
df['ROAS'] = (df['Revenue'] / df['CAC']).round(2)
df.head()

,Transaction_ID,Customer_ID,Product_ID,Transaction_Date,Units_Sold,Discount_Applied,Revenue,Clicks,Impressions,Conversion_Rate,...,Region,Ad_CTR,Ad_CPC,No Discount Revenue,Lost Revenue,Per Unit Price,CAC,CAC Percent,Post CAC Revenue,ROAS
0,8b460852-7c64-46fa-998b-b0976879d082,Customer_65,Product_224,2024-10-06,134,0.14,305.54,11,65,0.17,...,Europe,0.0180,0.55,355.28,49.74,2.65,9.90,3.24,295.64,30.86
1,418612e7-8744-4ba3-bb0c-105b47e2a968,Customer_1910,Product_584,2024-10-29,109,0.30,1102.19,15,201,0.07,...,Asia,0.1589,0.40,1574.56,472.37,14.45,63.56,5.77,1038.63,17.34
2,5bc3b98f-cb0c-4b12-947c-df8bbb35a73e,Customer_2306,Product_374,2024-04-04,116,0.04,471.29,16,199,0.08,...,Asia,0.0596,1.50,490.93,19.64,4.23,89.40,18.97,381.89,5.27
3,28fb67c8-e8c0-447a-841c-f760730de0eb,Customer_17206,Product_220,2024-08-25,125,0.20,980.26,12,355,0.03,...,Europe,0.0444,0.44,1225.32,245.06,9.80,19.54,1.99,960.72,50.17
4,8bee087a-a8a9-45bb-89d7-04d1710f1b00,Customer_16033,Product_358,2024-05-05,132,0.07,803.76,44,355,0.12,...,North America,0.1270,0.53,864.26,60.50,6.55,67.31,8.37,736.45,11.94

In [36]:
df = df.merge(prod_revenue, on='Product_ID', how='left')
df['Percent of Total Product Revenue'] = ((df['Revenue'] / df['Total Product Revenue']) * 100).round(2)

In [37]:
df.head()

,Transaction_ID,Customer_ID,Product_ID,Transaction_Date,Units_Sold,Discount_Applied,Revenue,Clicks,Impressions,Conversion_Rate,...,Ad_CPC,No Discount Revenue,Lost Revenue,Per Unit Price,CAC,CAC Percent,Post CAC Revenue,ROAS,Total Product Revenue,Percent of Total Product Revenue
0,8b460852-7c64-46fa-998b-b0976879d082,Customer_65,Product_224,2024-10-06,134,0.14,305.54,11,65,0.17,...,0.55,355.28,49.74,2.65,9.90,3.24,295.64,30.86,30227.26,1.01
1,418612e7-8744-4ba3-bb0c-105b47e2a968,Customer_1910,Product_584,2024-10-29,109,0.30,1102.19,15,201,0.07,...,0.40,1574.56,472.37,14.45,63.56,5.77,1038.63,17.34,74992.37,1.47
2,5bc3b98f-cb0c-4b12-947c-df8bbb35a73e,Customer_2306,Product_374,2024-04-04,116,0.04,471.29,16,199,0.08,...,1.50,490.93,19.64,4.23,89.40,18.97,381.89,5.27,93365.07,0.50
3,28fb67c8-e8c0-447a-841c-f760730de0eb,Customer_17206,Product_220,2024-08-25,125,0.20,980.26,12,355,0.03,...,0.44,1225.32,245.06,9.80,19.54,1.99,960.72,50.17,66697.17,1.47
4,8bee087a-a8a9-45bb-89d7-04d1710f1b00,Customer_16033,Product_358,2024-05-05,132,0.07,803.76,44,355,0.12,...,0.53,864.26,60.50,6.55,67.31,8.37,736.45,11.94,98966.42,0.81

In [46]:
import pandas as pd

df = pd.read_csv('synthetic_ecommerce_data.csv')
df['No Discount Revenue'] = (df['Revenue'] / (1 - df['Discount_Applied'])).round(2)
df['Lost Revenue'] = (df['No Discount Revenue'] - df['Revenue']).round(2)
df['Per Unit Price'] = (df['No Discount Revenue'] / df['Units_Sold']).round(2)
df['CAC'] = df['Ad_Spend']
df = df.drop(columns=['Ad_Spend'])
df['CAC Percent'] = ((df['CAC'] / df['Revenue']) * 100).round(2)
df['Post CAC Revenue'] = (df['Revenue'] - df['CAC']).round(2)
df['ROAS'] = (df['Revenue'] / df['CAC']).round(2)
prod_revenue = df.groupby('Product_ID')[['Revenue', 'Lost Revenue']].sum().reset_index()
prod_revenue = prod_revenue.rename(columns={'Revenue': 'Total Product Revenue'})
prod_revenue = prod_revenue.rename(columns={'Lost Revenue': 'Total Lost Revenue'})
df = df.merge(prod_revenue, on='Product_ID', how='left')
df['Percent of Total Product Revenue'] = ((df['Revenue'] / df['Total Product Revenue']) * 100).round(2)
df['Percent of Total Lost Revenue'] = ((df['Lost Revenue'] / df['Total Lost Revenue']) * 100).round(2)
LTV = df.groupby('Customer_ID')[['Revenue','Lost Revenue']].sum().reset_index()
LTV = LTV.rename(columns={'Revenue': 'LTV'})
LTV = LTV.rename(columns={'Lost Revenue': 'Lost LTV'})
LTV['Lost LTV Percent'] = ((LTV['Lost LTV'] / LTV['LTV']) * 100).round(2)   
df= df.merge(LTV, on='Customer_ID', how='left')
df.columns

Index(['Transaction_ID', 'Customer_ID', 'Product_ID', 'Transaction_Date',
       'Units_Sold', 'Discount_Applied', 'Revenue', 'Clicks', 'Impressions',
       'Conversion_Rate', 'Category', 'Region', 'Ad_CTR', 'Ad_CPC',
       'No Discount Revenue', 'Lost Revenue', 'Per Unit Price', 'CAC',
       'CAC Percent', 'Post CAC Revenue', 'ROAS', 'Total Product Revenue',
       'Total Lost Revenue', 'Percent of Total Product Revenue',
       'Percent of Total Lost Revenue', 'LTV', 'Lost LTV', 'Lost LTV Percent'],
      dtype='object')

In [51]:
df.sort_values(by='Transaction_Date', ascending=False).head()

,Transaction_ID,Customer_ID,Product_ID,Transaction_Date,Units_Sold,Discount_Applied,Revenue,Clicks,Impressions,Conversion_Rate,...,CAC Percent,Post CAC Revenue,ROAS,Total Product Revenue,Total Lost Revenue,Percent of Total Product Revenue,Percent of Total Lost Revenue,LTV,Lost LTV,Lost LTV Percent
70308,755d4b50-98f8-4d36-8077-a3652f5df2bf,Customer_13627,Product_848,2024-12-06,176,0.17,481.50,27,48,0.56,...,57.99,202.26,1.72,28044.43,4877.34,1.72,2.02,2769.01,553.84,20.00
25463,468dfa82-b998-4b46-8bd6-e10fc880f5b4,Customer_5597,Product_344,2024-12-06,92,0.25,218.98,28,489,0.06,...,134.98,-76.60,0.74,63137.78,11609.19,0.35,0.63,2499.40,548.37,21.94
25604,1168c76f-6258-493c-88f0-478b80e5e8a8,Customer_16833,Product_303,2024-12-06,153,0.07,1629.43,49,307,0.16,...,1.84,1599.39,54.24,98015.81,15431.36,1.66,0.79,2036.00,174.14,8.55
98481,5d420939-0104-4524-8430-dc84457b636a,Customer_4088,Product_228,2024-12-06,108,0.26,205.91,36,232,0.16,...,129.63,-61.01,0.77,29156.03,4930.79,0.71,1.47,1983.92,686.89,34.62
25774,81e24f27-c5e6-4907-b926-953d73fe1726,Customer_14104,Product_225,2024-12-06,154,0.08,697.34,31,70,0.44,...,42.34,402.08,2.36,84256.99,14659.41,0.83,0.41,4608.70,762.93,16.55

In [ ]:
df.head()

,Transaction_ID,Customer_ID,Product_ID,Transaction_Date,Units_Sold,Discount_Applied,Revenue,Clicks,Impressions,Conversion_Rate,...,Post CAC Revenue,ROAS,Total Product Revenue,Total Lost Revenue,Percent of Total Product Revenue,Percent of Total Lost Revenue,LTV,Lost LTV,Lost LTV Percent,Days Since Transaction
0,8b460852-7c64-46fa-998b-b0976879d082,Customer_65,Product_224,2024-10-06,134,0.14,305.54,11,65,0.17,...,295.64,30.86,30227.26,5478.43,1.01,0.91,759.08,97.86,12.89,61
1,418612e7-8744-4ba3-bb0c-105b47e2a968,Customer_1910,Product_584,2024-10-29,109,0.30,1102.19,15,201,0.07,...,1038.63,17.34,74992.37,13576.63,1.47,3.48,4325.54,1053.22,24.35,38
2,5bc3b98f-cb0c-4b12-947c-df8bbb35a73e,Customer_2306,Product_374,2024-04-04,116,0.04,471.29,16,199,0.08,...,381.89,5.27,93365.07,18567.01,0.50,0.11,1775.44,382.56,21.55,246
3,28fb67c8-e8c0-447a-841c-f760730de0eb,Customer_17206,Product_220,2024-08-25,125,0.20,980.26,12,355,0.03,...,960.72,50.17,66697.17,11723.31,1.47,2.09,3502.03,704.15,20.11,103
4,8bee087a-a8a9-45bb-89d7-04d1710f1b00,Customer_16033,Product_358,2024-05-05,132,0.07,803.76,44,355,0.12,...,736.45,11.94,98966.42,16844.40,0.81,0.36,3583.16,730.77,20.39,215

In [47]:
customer_details = df.groupby('Customer_ID')[['Transaction_ID']].count().reset_index()
customer_details = customer_details.rename(columns={'Transaction_ID': 'Total Transactions'})
customer_details.head()

      Customer_ID  Total Transactions
0      Customer_1                   5
1     Customer_10                   3
2    Customer_100                   5
3   Customer_1000                   3
4  Customer_10000                   3

In [56]:
customer_days_since_last_purchase = df.groupby('Customer_ID')[['Days Since Transaction']].min().reset_index()
customer_days_since_last_purchase = customer_days_since_last_purchase.rename(columns={'Days Since Transaction': 'Customer Days Since Last Purchase'})
customer_days_since_first_purchase = df.groupby('Customer_ID')[['Days Since Transaction']].max().reset_index()
customer_days_since_first_purchase = customer_days_since_first_purchase.rename(columns={'Days Since Transaction': 'Customer Days Since First Purchase'})
customer_details = customer_details.merge(customer_days_since_first_purchase, on='Customer_ID', how='left')
customer_details = customer_details.merge(customer_days_since_last_purchase, on='Customer_ID', how='left')
customer_details['Customer Recency'] = customer_details['Customer Days Since Last Purchase'].apply(lambda x: 'Active' if x <= 30 else 'Inactive')
customer_details['Customer Tenure'] = customer_details['Customer Days Since First Purchase'].apply(lambda x: 'New' if x <= 30 else 'Existing')
customer_details['Customer Lifetime'] = customer_details['Customer Days Since First Purchase'] - customer_details['Customer Days Since Last Purchase']
customer_details.head()

,Customer_ID,Total Transactions,Days Since Transaction,Customer Days Since First Purchase,Customer Days Since Last Purchase,Customer Recency,Customer Tenure,Customer Lifetime
0,Customer_1,5,19,302,19,Active,Existing,283
1,Customer_10,3,175,358,175,Inactive,Existing,183
2,Customer_100,5,218,358,218,Inactive,Existing,140
3,Customer_1000,3,202,302,202,Inactive,Existing,100
4,Customer_10000,3,206,313,206,Inactive,Existing,107

In [58]:
df = df.merge(customer_details, on='Customer_ID', how='left')
df.head()

,Transaction_ID,Customer_ID,Product_ID,Transaction_Date,Units_Sold,Discount_Applied,Revenue,Clicks,Impressions,Conversion_Rate,...,Customer Recency_x,Customer Tenure_x,Customer Lifetime_x,Total Transactions_y,Days Since Transaction,Customer Days Since First Purchase_y,Customer Days Since Last Purchase_y,Customer Recency_y,Customer Tenure_y,Customer Lifetime_y
0,8b460852-7c64-46fa-998b-b0976879d082,Customer_65,Product_224,2024-10-06,134,0.14,305.54,11,65,0.17,...,Inactive,Existing,254,4,61,315,61,Inactive,Existing,254
1,418612e7-8744-4ba3-bb0c-105b47e2a968,Customer_1910,Product_584,2024-10-29,109,0.30,1102.19,15,201,0.07,...,Inactive,Existing,319,6,38,357,38,Inactive,Existing,319
2,5bc3b98f-cb0c-4b12-947c-df8bbb35a73e,Customer_2306,Product_374,2024-04-04,116,0.04,471.29,16,199,0.08,...,Inactive,Existing,287,5,36,323,36,Inactive,Existing,287
3,28fb67c8-e8c0-447a-841c-f760730de0eb,Customer_17206,Product_220,2024-08-25,125,0.20,980.26,12,355,0.03,...,Inactive,Existing,220,6,37,257,37,Inactive,Existing,220
4,8bee087a-a8a9-45bb-89d7-04d1710f1b00,Customer_16033,Product_358,2024-05-05,132,0.07,803.76,44,355,0.12,...,Active,Existing,204,6,22,226,22,Active,Existing,204

In [61]:
import pandas as pd

df = pd.read_csv('synthetic_ecommerce_data.csv')
df['No Discount Revenue'] = (df['Revenue'] / (1 - df['Discount_Applied'])).round(2)
df['Lost Revenue'] = (df['No Discount Revenue'] - df['Revenue']).round(2)
df['Per Unit Price'] = (df['No Discount Revenue'] / df['Units_Sold']).round(2)
df['CAC'] = df['Ad_Spend']
df = df.drop(columns=['Ad_Spend'])
df['CAC Percent'] = ((df['CAC'] / df['Revenue']) * 100).round(2)
df['Post CAC Revenue'] = (df['Revenue'] - df['CAC']).round(2)
df['ROAS'] = (df['Revenue'] / df['CAC']).round(2)
prod_revenue = df.groupby('Product_ID')[['Revenue', 'Lost Revenue']].sum().reset_index()
prod_revenue = prod_revenue.rename(columns={'Revenue': 'Total Product Revenue'})
prod_revenue = prod_revenue.rename(columns={'Lost Revenue': 'Total Lost Revenue'})
df = df.merge(prod_revenue, on='Product_ID', how='left')
df['Percent of Total Product Revenue'] = ((df['Revenue'] / df['Total Product Revenue']) * 100).round(2)
df['Percent of Total Lost Revenue'] = ((df['Lost Revenue'] / df['Total Lost Revenue']) * 100).round(2)
LTV = df.groupby('Customer_ID')[['Revenue','Lost Revenue']].sum().reset_index()
LTV = LTV.rename(columns={'Revenue': 'LTV'})
LTV = LTV.rename(columns={'Lost Revenue': 'Lost LTV'})
LTV['Lost LTV Percent'] = ((LTV['Lost LTV'] / LTV['LTV']) * 100).round(2)   
df= df.merge(LTV, on='Customer_ID', how='left')
df['Days Since Transaction'] = df['Transaction_Date'].apply(lambda x: (pd.to_datetime('2024-12-06') - pd.to_datetime(x)).days)
customer_days_since_last_purchase = df.groupby('Customer_ID')[['Days Since Transaction']].min().reset_index()
customer_days_since_last_purchase = customer_days_since_last_purchase.rename(columns={'Days Since Transaction': 'Customer Days Since Last Purchase'})
customer_days_since_first_purchase = df.groupby('Customer_ID')[['Days Since Transaction']].max().reset_index()
customer_days_since_first_purchase = customer_days_since_first_purchase.rename(columns={'Days Since Transaction': 'Customer Days Since First Purchase'})
customer_details = df.groupby('Customer_ID')[['Transaction_ID']].count().reset_index()
customer_details = customer_details.rename(columns={'Transaction_ID': 'Total Transactions'})
customer_details = customer_details.merge(customer_days_since_first_purchase, on='Customer_ID', how='left')
customer_details = customer_details.merge(customer_days_since_last_purchase, on='Customer_ID', how='left')
customer_details['Customer Recency'] = customer_details['Customer Days Since Last Purchase'].apply(lambda x: 'Active' if x <= 30 else 'Inactive')
customer_details['Customer Tenure'] = customer_details['Customer Days Since First Purchase'].apply(lambda x: 'New' if x <= 30 else 'Existing')
customer_details['Customer Lifetime'] = customer_details['Customer Days Since First Purchase'] - customer_details['Customer Days Since Last Purchase']

In [62]:
print(df.head())

                         Transaction_ID     Customer_ID   Product_ID  \
0  8b460852-7c64-46fa-998b-b0976879d082     Customer_65  Product_224
1  418612e7-8744-4ba3-bb0c-105b47e2a968   Customer_1910  Product_584
2  5bc3b98f-cb0c-4b12-947c-df8bbb35a73e   Customer_2306  Product_374
3  28fb67c8-e8c0-447a-841c-f760730de0eb  Customer_17206  Product_220
4  8bee087a-a8a9-45bb-89d7-04d1710f1b00  Customer_16033  Product_358

  Transaction_Date  Units_Sold  Discount_Applied  Revenue  Clicks  \
0       2024-10-06         134              0.14   305.54      11
1       2024-10-29         109              0.30  1102.19      15
2       2024-04-04         116              0.04   471.29      16
3       2024-08-25         125              0.20   980.26      12
4       2024-05-05         132              0.07   803.76      44

   Impressions  Conversion_Rate  ... Post CAC Revenue   ROAS  \
0           65             0.17  ...           295.64  30.86
1          201             0.07  ...          1038.63  17.34
2          199             0.08  ...           381.89   5.27
3          355             0.03  ...           960.72  50.17
4          355             0.12  ...           736.45  11.94

   Total Product Revenue  Total Lost Revenue  \
0               30227.26             5478.43
1               74992.37            13576.63
2               93365.07            18567.01
3               66697.17            11723.31
4               98966.42            16844.40

   Percent of Total Product Revenue  Percent of Total Lost Revenue      LTV  \
0                              1.01                           0.91   759.08
1                              1.47                           3.48  4325.54
2                              0.50                           0.11  1775.44
3                              1.47                           2.09  3502.03
4                              0.81                           0.36  3583.16

   Lost LTV  Lost LTV Percent  Days Since Transaction
0     97.86             12.89                      61
1   1053.22             24.35                      38
2    382.56             21.55                     246
3    704.15             20.11                     103
4    730.77             20.39                     215

[5 rows x 29 columns]